
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="navbar navbar-dark footer">
    <div class="container">

        <div class="col-sm-4">
            <h4>Follow me</h4>
            <div class="stroke"></div>
            <i class="fa fa-facebook-square footerico" style="font-size:36px"></i>
            <i class="fa fa-twitter-square footerico" style="font-size:36px"></i>
            <i class="fa fa-pinterest-square footerico" style="font-size:36px"></i>
            <i class="fa fa-instagram footerico" style="font-size:36px"></i>
        </div>

        <div class="col-sm-4">
            <p>Copyright © 2018
                <br> Designed by Ruben De Keersmaecker</p>
        </div>

        <div class="col-sm-4">
            <a href="{{ site.baseurl }}/contact.html"><h4>Contact Me</h4></a>
            <a href="{{ site.baseurl }}/termsandconditions.html"><h4>Terms and Conditions</h4></a>
        </div>

    </div>

</footer>