@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

/* ==============================================
   BODY
============================================== */

body {
  background-color: #000;
}

body {
  width: 100%;
  height: 70%;
}

body {
  background-image: radial-gradient(ellipse at top, #706E6E, transparent);
}

/* ==============================================
   TEXT
============================================== */

a:link {
  text-decoration: none; 
  font-family: 'Luckiest Guy', cursive; 
  font-size: 12pt;
  text-shadow: 2px 2px #000;
  color: #fff;
}
a:visited {
  text-decoration: none; 
  font-family: 'Luckiest Guy', cursive; 
  font-size: 12pt;
  text-shadow: 2px 2px #000;
  color: #fff;
}
a:hover {
  text-decoration: none; 
  font-family: 'Luckiest Guy', cursive; 
  font-size: 12pt;
  text-shadow: 2px 2px #000;
  color: #fff;
}


  h1,h2,h3,h4,h5,h6, {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #FFF;
    text-shadow: 2px 2px #000;
  }

  p {
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px #000;
  }

/* ==============================================
   NAVIGATIE
============================================== */

.navbar-dark {
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
  text-align: center;
}

.navbod {
  background-color: #EAB818;
}

/* ==============================================
   FOOTER
============================================== */

.footer {
  margin-top: 50px;
  background-color: #EAB818;
}

.footerico {
  margin: 0 3px 5px 0;
  filter: drop-shadow(2px 2px 0 #000);
}

.stroke {
  width: 100%;
  height: 1px;
  background-color: #FFF;
  margin-bottom: 15px;
}

/* ==============================================
   INDEX
============================================== */

.floaty {
  position: relative;
  text-align: center;
}

.spacebetween {
  margin: 10px 0 10px 0;
}

.intro {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
}

.overcentered {
  position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn, {
  color: white;
    background-color: #EAB818;
    border: none;
    border-radius: 0;
    padding: 7px 30px 2px 30px;
    margin: 10px 0 10px 0;
    font-family: 'Luckiest Guy', cursive;
  }

/* ==============================================
   PRODUCT
============================================== */

.form-control, {
  color: #000;
    border: none;
    border-radius: 0;
    font-family: 'Luckiest Guy', cursive;
  }
